<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="berrypath" translate="label" sortOrder="900" class="berrypath-tab">
            <label>BerryPath</label>
        </tab>
        <section id="berrypath_flow" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Flow</label>
            <tab>berrypath</tab>
            <resource>BerryPath_Flow::config</resource>
            <include path="BerryPath_Flow::system/general.xml"/>
            <include path="BerryPath_Flow::system/placements.xml"/>
            <include path="BerryPath_Flow::system/feed.xml"/>
            <include path="BerryPath_Flow::system/success_pixel.xml"/>
        </section>
    </system>
</config>
